* {
	margin: 0;
	padding: 0;
	font-family: sans-serif, helvetica, arial, system-ui;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: clip;
  scroll-behavior: smooth;
}

.top.menu {
	box-shadow: 0px 31px 109px -9px rgba(179,179,179,1);
	padding: 0.75%;
	border-bottom: 1px solid #555;
	position: relative;
	overflow: clip;
	display: flex;
	background-color: #222;
	color: white;
	
}

.top.menu .right {
	margin-left: auto;
}

.section-one {
	height: 70%;
	width: 100%;
	position: relative;
	color: white;
	background-color: darkgray;
	text-align: center;
	background-image: url('img/bg-img-1.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-two {
	padding: 0.75%;
	width: 100%;
	position: relative;
	color: white;
	background-color: #555;
	text-align: center;
	height: 55%;
}

.section-three {
	padding: 1.25%;
	width: 100%;
	position: relative;
	color: #111;
	background-color: #DDD;
	text-align: center;
	height: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.alignment {
	text-align: center;
}

.alignment-three {
	text-align: center;
}

.card {
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	  max-width: 300px;
	  min-width: 300px;
	  background-color: maroon;
	  color: white;
	  height: 250px;
	  padding: 0.75%;
	  margin: auto;
	  text-align: center;
	  font-family: arial;
	  border: 1px solid #CCC;
	  flex-basis: 300px;
	  flex-grow: 0;
	  flex-shrink: 0;
}

.card-two {
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	  max-width: 300px;
	  min-width: 300px;
	  background-color: #222;
	  color: white;
	  height: 450px;
	  padding: 0.75%;
	  margin: auto;
	  text-align: center;
	  font-family: arial;
	  border: 1px solid #CCC;
}

.title {
	  color: grey;
	  font-size: 18px;
}

.learn-more {
	padding: 1.25%;
	background-color: #555;
	border: 1px solid #AAA;
	color: white;
	border-radius: 50px;
	cursor: pointer;
}

.learn-more:hover {
	background-color: #444;
	cursor: pointer;
}

.learn-more:active {
	background-color: #999;
	cursor: pointer;
}

.btns2:hover {
	background-color: #444;
	cursor: pointer;
}

.btns2:active {
	background-color: #999;
	cursor: pointer;
}

.btns2 {
	padding: 0.75%;
	background-color: #555;
	border: 1px solid #AAA;
	color: white;
	border-radius: 50px;
	cursor: pointer;
}

.section-four {
	background-color: maroon;
	color: white;
}

.alignment-four {
	text-align: center;
}

.footer a {
	text-decoration: none;
	color: white;
	font-size: 13px;
}

.footer {
	padding: 0.75%;
	background-color: #222;
	color: white;
	border-top: 1px solid #555;
	text-align: center;
}

.footer a:hover {
	text-decoration: underline;
}